<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0070C0;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3"> <i class="fas fa-home me-3"></i>8828 Lawrence Street
                Fredericksburg, VA 22405</span>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="">linkkesg21.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>