<html lang="en">
<%- include('./header') %>

    <body>
        <main>
            <br>
            <div id="progress">
                <div class="part on">
                    <div class="desc"><span>기본정보</span></div>
                    <div class="circle"><span>R</span></div>
                    <div class="stepnumb"><span>1/1</span></div>
                </div>
                <div class="part on">
                    <div class="desc"><span>정보공시</span></div>
                    <div class="circle"><span>P</span></div>
                    <div class="stepnumb"><span>4/4</span></div>
                </div>
                <div class="part on">
                    <div class="desc"><span>환경</span></div>
                    <div class="circle"><span>E</span></div>
                    <div class="stepnumb"><span>9/9</span></div>
                </div>
                <div class="part on">
                    <div class="desc"><span>사회</span></div>
                    <div class="circle"><span>S</span></div>
                    <div class="stepnumb"><span>9/9</span></div>
                </div>
                <div class="part on">
                    <div class="desc"><span>지배구조</span></div>
                    <div class="circle"><span>G</span></div>
                    <div class="stepnumb"><span>1/5</span></div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto  mb-3 py-5 mx-5 px-5">
                        <div class="titlesection text-center">
                            <h1 class="display-5 fw-bold lh-1 mb-3">집중/전자/서면 투표제</h1>
                        </div>
                        <br>

                        <form class="needs-validation" novalidate="">
                            <div class="row g-3">
                                <div class="my-3">
                                    <h4>집중투표제 도입</h4>
                                    <label class="form-check-label" for="credit">
                                        정관에서 집중투표제를
                                    </label>
                                    <br>
                                    <br>
                                    <div class="d-grid gap-2 col-12 mx-auto"
                                        style="grid-template-columns: 1fr 1fr;">
                                        <input type="radio" class="btn-check" name="options" id="option1"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary" for="option1">배제하고 있다.
                                        </label>

                                        <input type="radio" class="btn-check" name="options" id="option2"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary" for="option2">명시하고 있다.
                                        </label>

                                    </div>
                                </div>
                                <div class="my-3">
                                    <h4>서면투표제 도입
                                    </h4>
                                    <label class="form-check-label" for="credit">
                                        정관에서 서면투표제를
                                    </label>
                                    <br>
                                    <br>
                                    <div class="d-grid gap-2 col-12 mx-auto"
                                        style="grid-template-columns: 1fr 1fr;">
                                        <input type="radio" class="btn-check" name="options2" id="option4"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary" for="option4">배제하고 있다.
                                        </label>

                                        <input type="radio" class="btn-check" name="options2" id="option5"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary" for="option5">명시하고 있다.
                                        </label>

                                    </div>
                                </div>
                                <div class="my-3">
                                    <h4>전자투표제 도입
                                    </h4>
                                    <label class="form-check-label" for="credit">
                                        정관에서 전자투표제를
                                    </label>
                                    <br>
                                    <br>
                                    <div class="d-grid gap-2 col-12 mx-auto"
                                        style="grid-template-columns: 1fr 1fr;">
                                        <input type="radio" class="btn-check" name="options3" id="option7"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary" for="option7">배제하고 있다.
                                        </label>

                                        <input type="radio" class="btn-check" name="options3" id="option8"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary" for="option8">명시하고 있다.
                                        </label>

                                    </div>
                                </div>



                            </div>
                            <br>
                            <br>


                            <div class="mb-5">
                                <a type="button" class="btn btn-light" href="/enviroquiz"><i class="fa fa-chevron-left"
                                    aria-hidden="true"></i> 뒤로</a>
                                <a class="btn btn-primary btn-lg px-4 me-sm-3 float-end" href="/resultquiz">다음</a>
                            </div>

                            <!--
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                        -->
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./footer') %>
    </body>

</html>