<html lang="en">
<%- include('./header') %>

    <body>
        <main>
            <br>
            <div id="progress">
                <div class="part on">
                    <div class="desc"><span>기본정보</span></div>
                    <div class="circle"><span>R</span></div>
                    <div class="stepnumb"><span>1/1</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>정보공시</span></div>
                    <div class="circle"><span>P</span></div>
                    <div class="stepnumb"><span>0/4</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>환경</span></div>
                    <div class="circle"><span>E</span></div>
                    <div class="stepnumb"><span>0/9</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>사회</span></div>
                    <div class="circle"><span>S</span></div>
                    <div class="stepnumb"><span>0/9</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>지배구조</span></div>
                    <div class="circle"><span>G</span></div>
                    <div class="stepnumb"><span>0/5</span></div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto  mb-3 py-5 mx-5 px-5">
                        <a type="button" class="btn btn-light" href="/homepage"><i class="fa fa-chevron-left"
                                aria-hidden="true"></i> 뒤로</a>
                        <br>
                        <br>
                        <div class="titlesection text-center">
                            <h1 class="display-5 fw-bold lh-1 mb-3">기본정보 입력
                            </h1>
                        </div>
                        <br>
                        <br>

                        <form class="needs-validation" novalidate="">
                            <div class="row g-3">

                                <div class="col-12">
                                    <label for="companyname" class="form-label">회사명</label>
                                    <input type="text" class="form-control" id="companyname" placeholder="">
                                    <div class="invalid-feedback">
                                        Please enter a valid company name updates.
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <label for="userName" class="form-label">이름</label>
                                    <input type="text" class="form-control" id="userName" placeholder="" value=""
                                        required="">
                                    <div class="invalid-feedback">
                                        Valid name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="phoneNumber" class="form-label">연락처</label>
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="00-0000-0000"
                                        value="" required="">
                                    <div class="invalid-feedback">
                                        Valid phone number is required.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Email </label>
                                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address for shipping updates.
                                    </div>
                                </div>



                            </div>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="termscheck">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <a class="txt2" data-toggle="modal" data-target="#termsModal"
                                        style="cursor: pointer;">
                                        개인정보 수집 및 이용 동의
                                    </a>
                                </label>
                            </div>

                            <br>
                            <br>
                            <div class="mb-5">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3 float-end" href="/infoquiz">다음</a>
                            </div>


                            <!--
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                        -->
                        </form>

                    </div>
                </div><!--end Row-->

            </div><!--end Container-->
            <div class="modal fade show" id="termsModal" tabindex="-1" aria-labelledby="termsModalTitle"
                style="display: none;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100" id="termsModalLongTitle">
                                개인정보 수집 및 이용 동의
                            </h4>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body text-align-start pl-5 pr-5 pb-0" style="color: #666; font-size:16px;">
                            <div class="mb-2">
                            </div>
                            <p>
                                '고객님의 개인정보를 중요시하며, '정보통신망 이용촉진 및 정보보호'에 관한 법률을 준수하고 있습니다.
                            </p>
                            <p>
                                회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지
                                알려드립니다.
                            </p>
                            <p>
                                회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                            </p>
                            <p>
                                본 방침은 2022년 6월 1일부터 시행됩니다.
                            </p>
                            <p>
                                <b>
                                    ■ 수집하는 개인정보 항목<br>
                                </b>
                                회사는 회원가입, 상담, 문의 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
                            </p>
                            <p>
                                ο 수집항목 : 이름 , 로그인ID(이메일) , 비밀번호(암호화) , 휴대전화번호 <br>
                                ο 개인정보 수집방법 : 회원가입, 상담문의접수
                            </p>
                            <p>
                                <b>
                                    ■ 개인정보의 수집 및 이용목적 <br>
                                </b>
                                회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다..
                            </p>
                            <p>
                                ο 회원 관리 <br>
                                회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 불만처리 등 민원처리 , 고지사항
                                전달
                            </p>
                            <p>
                                <b>
                                    ■ 개인정보의 보유 및 이용기간 <br>
                                </b>
                                회사는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.
                            </p>
                            <p>
                                귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. <br>
                                회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. <br>
                                기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
                            </p>
                            <p>
                                1. 개인분쟁조정위원회 (www.1336.or.kr / 1336) <br>
                                2. 정보보호마크인증위원회 (http://www.eprivacy.or.kr / 02-580-0533~4) <br>
                                3. 대검찰청 인터넷범죄수사센터 (http://http://icic.sppo.go.kr / 02-3480-3600) <br>
                                4. 경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / 02-392-0330)
                            </p>

                        </div>
                        <div class="modal-footer justify-content-center" style="border-top: none;">
                            <button type="button" class="btn btn-primary" style="padding: 5px 24px;"
                                data-dismiss="modal" onclick="checkterms()">
                                확인
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./footer') %>
    </body>

</html>