<html lang="en">
<%- include('./header') %>

    <body>
        <main>
            <br>
            <div id="progress">
                <div class="part on">
                    <div class="desc"><span>기본정보</span></div>
                    <div class="circle"><span>R</span></div>
                    <div class="stepnumb"><span>1/1</span></div>
                </div>
                <div class="part on">
                    <div class="desc"><span>정보공시</span></div>
                    <div class="circle"><span>P</span></div>
                    <div class="stepnumb"><span>1/4</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>환경</span></div>
                    <div class="circle"><span>E</span></div>
                    <div class="stepnumb"><span>0/9</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>사회</span></div>
                    <div class="circle"><span>S</span></div>
                    <div class="stepnumb"><span>0/9</span></div>
                </div>
                <div class="part">
                    <div class="desc"><span>지배구조</span></div>
                    <div class="circle"><span>G</span></div>
                    <div class="stepnumb"><span>0/5</span></div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto  mb-3 py-5 mx-5 px-5">
                        <div class="titlesection text-center">
                            <h1 class="display-5 fw-bold lh-1 mb-3">ESG 정보공시 방식</h1>
                        </div>
                        <br>
                        <form class="needs-validation" novalidate="">
                            <div class="row g-3">
                                <div class="my-3">
                                    <div class="form-check">
                                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input"
                                            required="">
                                        <label class="form-check-label" for="credit">
                                            조직이 어떠한 방식으로든 ESG 정보를 공시하지 않는 경우
                                        </label>
                                    </div>
                                    <br>
                                    <div class="form-check">
                                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input"
                                            required="">
                                        <label class="form-check-label" for="debit">
                                            조직의 홈페이지 지속가능경영보고서, 사업보고서, 기타 간행물 등에 ESG 정보를 분산하여 공시하고 있는 경우
                                        </label>
                                    </div>
                                    <br>
                                    <div class="form-check">
                                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                            required="">
                                        <label class="form-check-label" for="paypal">
                                            조직의 홈페이지 지속가능경영보고서, 사업보고서, 기타 간행물 등에 ESG 정보를 통합하여 공시하고 있는 경우
                                        </label>
                                    </div>
                                    <br>
                                    <div class="form-check">
                                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                            required="">
                                        <label class="form-check-label" for="paypal">
                                            ESG 정보를 통합한 조직의 홈페이지, 지속가능경영보고서, 사업보고서, 기타 간행물 등을 지정된 장소에 비치하거나, 특정 URL에 담고
                                            있는
                                            경우
                                        </label>
                                    </div>
                                    <br>
                                    <div class="form-check">
                                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                            required="">
                                        <label class="form-check-label" for="paypal">
                                            "ESG 정보를 통합한 조직의 홈페이지, 지속가능경영보고서, 사업보고서, 기타 간행물 등의 발행여부를 '전자공시시스템-자율공시' 사항으로
                                            알리는
                                            경우"
                                        </label>
                                    </div>
                                </div>



                            </div>
                            <br>
                            <br>

                            <div class="mb-5">
                                <a type="button" class="btn btn-light btn-lg" href="/inforegister"><i class="fa fa-chevron-left"
                                    aria-hidden="true"></i> 뒤로</a>    
                                <a class="btn btn-primary btn-lg px-4 me-sm-3 float-end" href="/enviroquiz">다음</a>
                            </div>


                            <!--
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                        -->
                        </form>
                    </div>
                </div>

            </div>
        </main>
        <%- include('./footer') %>
    </body>

</html>