<html lang="en">
<%- include('./header') %>

    <body>
        <script language="javascript" type="text/javascript"
            src="https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>

        <style>
            .panel {
                display: flex;
                position: relative;
                background: #fff;
                width: 300px;
                padding: 0 35px;
                text-align: center;
                @include border-radius(4px);
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
            }

            .chart {
                display: inline-block;
                width: 200;
                margin: 40px auto 20px;
                padding: 0px;
            }

            .easyPieChart {
                position: relative;
                text-align: center;

                canvas {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .percentage,
            .label {
                margin-bottom: 0.5em;
                text-align: center;
                font-weight: 100;
            }

            .percentage {
                font-size: 70px;
            }

            .percentage sup {
                top: -11px;
                margin-left: 1px;
                font-size: 14px;
                position: relative;
            }

            .percentage span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #000;
                word-spacing: 5px;
            }

            .meta {
                margin: auto;
                max-width: 280px;
                border-top: 1px solid rgba(155, 155, 155, 0.2);
                text-align: center;
            }

            p {
                margin: 0;
                padding: 20px;
                color: lighten(#a1a7a6, 15%);
            }
        </style>
        <main>
            <div class="progress" style="height: 10px; border-radius:0;">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>

            <div class="container">
                <div class="row py-5 text-center">
                    <h1>Result of Self-Assessment</h1>
                    <p>Congratulations! your company is eligible to apply for the ESG certificate.</p>
                </div>
                <br>
                <br>
                <div class="row">

                    <div class="col-lg-3">
                        <div class="card mx-3 px-5 py-3 my-3 text-center">
                            <img src="./img/info-icon.png" alt="" style="position: absolute; left: 50%;
                            transform: translate(-50%, -50%); top: -10px; height: 100px;">
                            <div class="chart">
                                <br>
                                <h4>Information</h4>
                                <br>
                                <div class="percentage" data-percent="70">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <div class="card mx-3 px-5 py-3 my-3 text-center">
                            <img src="./img/enviro-icon.png" alt="" style="position: absolute; left: 50%;
                            transform: translate(-50%, -50%); top: -10px; height: 100px;">
                            <div class="chart">
                                <br>
                                <h4>Environment
                                </h4>
                                <br>

                                <div class="percentage" data-percent="60">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <div class="card mx-3 px-5 py-3 my-3 text-center">
                            <img src="./img/social-icon.png" alt="" style="position: absolute; left: 50%;
                            transform: translate(-50%, -50%); top: -10px; height: 100px;">
                            <div class="chart">
                                <br>
                                <h4>Social
                                </h4>
                                <br>

                                <div class="percentage" data-percent="90">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <div class="card mx-3 px-5 py-3 my-3 text-center">
                            <img src="./img/gov-icon.png" alt="" style="position: absolute; left: 50%;
                            transform: translate(-50%, -50%); top: -10px; height: 100px;">
                            <div class="chart">
                                <br>
                                <h4>Governance

                                </h4>
                                <br>

                                <div class="percentage" data-percent="80">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                </div>
                <br>
                <div class="text-center">
                    <div class="">
                        <input class="form-check-input" type="checkbox" value="" id="termscheck">
                        <label class="form-check-label" for="flexCheckDefault">
                            <a class="txt2" data-toggle="modal" data-target="#termsModal" style="cursor: pointer;">
                                개인정보 수집 및 이용 동의
                            </a>
                        </label>
                    </div>
                </div>

                <br>
                <br>
                <div class="col-lg-6 mx-auto px-5 mb-5">
                    <a class="btn btn-light btn-lg px-4 me-sm-3 float-start" href="/homepage">취소</a>
                    <a class="btn btn-primary btn-lg px-4 me-sm-3 float-end" href="/homepage">제출</a>
                </div>
                <br>
                <br>
            </div>


            <div class="modal fade show" id="termsModal" tabindex="-1" aria-labelledby="termsModalTitle"
                style="display: none;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100" id="termsModalLongTitle" style="font-size:25px;">
                                개인정보 수집 및 이용 동의
                            </h4>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body text-align-start pl-5 pr-5 pb-0" style="color: #666; font-size:16px;">
                            <div class="mb-2">
                            </div>
                            <p>
                                '고객님의 개인정보를 중요시하며, '정보통신망 이용촉진 및 정보보호'에 관한 법률을 준수하고 있습니다.
                            </p>
                            <p>
                                회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지
                                알려드립니다.
                            </p>
                            <p>
                                회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                            </p>
                            <p>
                                본 방침은 2022년 6월 1일부터 시행됩니다.
                            </p>
                            <p>
                                <b>
                                    ■ 수집하는 개인정보 항목<br>
                                </b>
                                회사는 회원가입, 상담, 문의 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
                            </p>
                            <p>
                                ο 수집항목 : 이름 , 로그인ID(이메일) , 비밀번호(암호화) , 휴대전화번호 <br>
                                ο 개인정보 수집방법 : 회원가입, 상담문의접수
                            </p>
                            <p>
                                <b>
                                    ■ 개인정보의 수집 및 이용목적 <br>
                                </b>
                                회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다..
                            </p>
                            <p>
                                ο 회원 관리 <br>
                                회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 불만처리 등 민원처리 , 고지사항
                                전달
                            </p>
                            <p>
                                <b>
                                    ■ 개인정보의 보유 및 이용기간 <br>
                                </b>
                                회사는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.
                            </p>
                            <p>
                                귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. <br>
                                회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. <br>
                                기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
                            </p>
                            <p>
                                1. 개인분쟁조정위원회 (www.1336.or.kr / 1336) <br>
                                2. 정보보호마크인증위원회 (http://www.eprivacy.or.kr / 02-580-0533~4) <br>
                                3. 대검찰청 인터넷범죄수사센터 (http://http://icic.sppo.go.kr / 02-3480-3600) <br>
                                4. 경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / 02-392-0330)
                            </p>

                        </div>
                        <div class="modal-footer justify-content-center" style="border-top: none;">
                            <button type="button" class="btn btn-primary" style="padding: 5px 24px;"
                                data-dismiss="modal">
                                확인
                            </button>
                        </div>
                    </div>
                </div>
            </div>



        </main>
        <%- include('./footer') %>

        <script>
            /**
             * Built with the jQuery plugin that was born as a result of the great dribble shot
             * https://rendro.github.io/easy-pie-chart/
             **/


            $('.percentage').easyPieChart({
                animate: 1000,
                lineWidth: 20,
                scaleColor: false,
                size: 200,
                onStep: function (value) {
                    this.$el.find('span').text(Math.round(value));
                },
                onStop: function (value, to) {
                    this.$el.find('span').text(Math.round(to));
                },
                barColor: color
            });







            function color(percent) {
                var color = '#F44336';

                return (percent < 60 ? '#16a64d' : percent < 70 ? '#642f92' : percent < 80 ? '#e97034' : '#0367b4');


                /*
                var color = '#F44336';
                if (percent > 50) {
                    color = '#8bc34a'; //green
                } else {
                    color = '#F44336'; //red
                }
                return color;
                */
            }

        </script>
    </body>

</html>