<html lang="en">
<%- include('./header') %>

    <body>
        <main>
            <div class="container-fluid d-grid gap-3 align-items-center"
                style="grid-template-columns: 1fr 2fr; padding: 0 !important;">
                <div class="social-bg-image">

                </div>
                <div class="home-bg-form col-lg-6 mx-auto">
                    <small class="text-muted">질문 20/27
                    </small>
                    <br>
                    <br>
                    <br>

                    <p><b>4. 산업안전
                        </b></p>
                    <h1 class="display-5 fw-bold lh-1 mb-3">산업재해율
                    </h1>
                    <small class="text-muted">귀사의 현재 상황을 가장 잘 설명하는 문장을 선택하십시오
                    </small>
                    <br>
                    <br>
                    <br>

                    <form class="needs-validation" novalidate="">
                        <div class="row g-3">
                            <div class="my-3">
                                <h4>현재수준</h4>
                                <label class="form-check-label" for="credit">
                                    직전 1개년 산업재해율 당해년도 산업평균
                                </label>
                                <br>
                                <br>
                                <div class="d-grid gap-2 col-12 mx-auto" style="grid-template-columns: 1fr 1fr 1fr;">
                                    <input type="radio" class="btn-check" name="options" id="option1"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary" for="option1">초과</label>

                                    <input type="radio" class="btn-check" name="options" id="option2"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary" for="option2">동일</label>

                                    <input type="radio" class="btn-check" name="options" id="option3"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary" for="option3">미만</label>
                                </div>
                            </div>
                            <div class="my-3">
                                <h4>추세</h4>
                                <label class="form-check-label" for="credit">
                                    지난 5개년산업재해율
                                </label>
                                <br>
                                <br>
                                <div class="d-grid gap-2 col-12 mx-auto" style="grid-template-columns: 1fr 1fr 1fr;">
                                    <input type="radio" class="btn-check" name="options2" id="option4"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary" for="option4">증가 추세
                                    </label>

                                    <input type="radio" class="btn-check" name="options2" id="option5"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary" for="option5">변동 없음
                                    </label>

                                    <input type="radio" class="btn-check" name="options2" id="option6"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary" for="option6">감소 추세
                                    </label>
                                </div>
                            </div>



                        </div>
                        <br>
                        <br>

                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-between mb-5">
                            <a class="btn btn-secundary btn-lg px-4 me-sm-3" href="/enviroquiz">뒤로
                            </a>

                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/governquiz">다음
                            </a>

                        </div>


                        <!--
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                        -->
                    </form>
                </div>
            </div>
        </main>
    </body>

</html>