<html lang="en">
<%- include('./header') %>

    <body>
        <main>
            <div class="container-fluid d-grid gap-3 align-items-center"
                style="grid-template-columns: 1fr 2fr; padding: 0 !important;">
                <div class="success-bg-image text-center">

                </div>
                <div class="home-bg-form col-lg-6 mx-auto text-center">
                    <img src="./img/successicon.png" alt="" style="height: 300px;">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Success</h1>
                    <br>
                    <br>
                    <p class="lead">Perfect, Your answers was sent successfully.</p>
                    <br>
                    <br>
                    <div class="row">
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/homepage" style="width: 20vw;">OK
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>