@font-face {
    font-family: JalnanOTF;
    src: url('../fonts/JalnanOTF.otf');
}

@font-face {
    font-family: NotoSansKR-Regular;
    src: url('../fonts/NotoSansKR-Regular.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: NotoSansKR-Regular, sans-serif;
  background: #f2f4f7;
}

h1, h4 {
    font-family: JalnanOTF, sans-serif;
}

.home-bg-image {
    background-image: url('../img/home-bg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.info-bg-image {
    background-image: url('../img/info-bg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.enviro-bg-image {
    background-image: url('../img/enviro-bg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.social-bg-image {
    background-image: url('../img/social-bg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.govern-bg-image {
    background-image: url('../img/govern-bg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.contact-bg-image {
    background-image: url('../img/contact-bg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.success-bg-image {
    background-image: url('../img/successbg.png');
    width: 100%;
    height: calc(100vh - 78px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
