    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0070C0;">
        <!-- Grid container -->
        <div class="container">
          <!-- Section: CTA -->
          <section class="row justify-content-center py-2">
            <p class="col-md-3 align-middle">
              <i class="fas fa-envelope me-3"></i>
              kennykim@linkesg21.com 
            </p>
            <p class="col-md-6">
              <span class="me-3"> 
                <i class="fas fa-home me-3"></i>
                인천광역시 중구 축대로86번길 62, A동 306호(항동7가)
                </span>
            </p>
            <p class="col-md-3">
              <i class="fas fa-phone me-3"></i> 032 882 0153 
              <i class="fas fa-fax mx-3 "></i> 032 882 0154 
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white" href="">linkesg21.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
  