<div class="progress" style="height: 10px; border-radius:0;">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

<div class="d-fluid" style="position: relative;">
  <div class="row my-auto home-bg-slide">
  </div>
  <div class="centered text-center">
    <br>
    <h1 class="display-1">ESG 자가진단</h1>
    <span class="text-muted">ESG 지표를 쉽고 빠르게 측정하고 기업 가치를 향상시키세요.
      <br>
      성공적인 지속가능성 경영을 위한 파트너로 함께 하겠습니다.
    </span>
    <br>
    <br>
    <a class="btn btn-primary btn-lg-home px-4 me-sm-3" href="/inforegister">자가진단 실시</a>

  </div>

</div>

<div class="container text-center">
  <br>
  <div class="row circleesg justify-content-center mx-2 my-2">
    <div class="col-lg-3">
      <div class="mx-3 px-3 py-3 my-3">
        <div class="row">
          <div class="col-md-6 my-auto">
            <img src="./img/enviro-icon.png" alt="" style="height: 60px; margin-bottom: 1em;">
            <h2 class="mb-0">환경
            </h2>
            <span class="text-muted">Environment</span>
          </div>
          <div class="esgfigbodytext col-md-6 text-start my-auto">
            <ul>
              <li>원부자재</li>
              <li>온실가스</li>
              <li>에너지</li>
              <li>용수</li>
              <li>폐기물</li>
              <li>오염물질</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-1 my-auto">
      <i class="fa fa-plus-circle fa-2x" style="color: #0070c0;"></i>
    </div>
    <div class="col-lg-3">
      <div class="mx-3 px-3 py-3 my-3">
        <div class="row">
          <div class="col-md-6 my-auto">
            <img src="./img/social-icon.png" alt="" style="height: 60px; margin-bottom: 1em;">
            <h4 class="mb-0">사회
            </h4>
            <span class="text-muted">Social</span>
          </div>
          <div class="esgfigbodytext col-md-6 text-start my-auto">
            <ul>
              <li>노동</li>
              <li>다양성 및 양성평등</li>
              <li>산업안전</li>
              <li>지역사회</li>
            </ul>
          </div>
        </div>

      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-1 my-auto">
      <i class="fa fa-plus-circle fa-2x" style="color: #0070c0;"></i>
    </div>
    <div class="col-lg-3">
      <div class="mx-3 px-3 py-3 my-3">
        <div class="row">
          <div class="col-md-6 text-center my-auto">
            <img src="./img/gov-icon.png" alt="" style="height: 60px; margin-bottom: 1em;">
            <h4 class="mb-0">지배구조</h4>
            <span class="text-muted">Governance</span>
          </div>
          <div class="esgfigbodytext col-md-6 text-start my-auto">
            <ul>
              <li>이사회 구성/활동</li>
              <li>주주권리</li>
              <li>윤리경영</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
<div class="my-1"></div>
<!--
  <section>
    <div class="row col-lg-8 mx-auto">
      <div class="licensedrow col-lg-6 mx-auto py-3 mx-5 px-5 text-end">
        <h2>ESG 어려우셨나요?</h2>
        <p class="mb-1">지속가능보고서 작성, 검증</p>
        <p>보다 쉬운절차 및 컨설팅 제공</p>
      </div>
      <div class="col-lg-6 img-fluid my-auto">
        <img src="./img/licensedicon.gif" alt="" class="licensedimg mx-auto d-block px-2" style="height: 70px;">
      </div>
    </div>
  </section>
  <br>
  <br>
  -->
<div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mx-3 px-5 py-5 my-3">
        <i class="fa fa-magnifying-glass-chart fa-5x" style="color: #0070c0; margin-bottom: 0.2em;"></i>
        <h4>쉽고, 정밀한 ESG진단
        </h4>
        <p>현재 기업 현황에 맞춰
          <br>
          눈높이 ESG진단 기능 제공
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="card mx-3 px-5 py-5 my-3">
        <i class="fa fa-file-lines fa-5x" style="color: #0070c0; margin-bottom: 0.2em;"></i>
        <img src="./img/licensedicon.gif" alt="" class="licensedimg mx-auto d-block px-2 homecerticon">
        <br>
        <h4>검증된 지속가능경영보고서
        </h4>
        <p>AA1000 000-360 검증 가능
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="card mx-3 px-5 py-5 my-3">
        <i class="fa fa-user-tie fa-5x" style="color: #0070c0; margin-bottom: 0.2em;"></i>
        <h4>전문가 컨설팅
        </h4>
        <p>ESG검증 경험을 통한
          <br>
          전문가 컨설팅 제공
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
<div class="my-5"></div>