
<script language="javascript" type="text/javascript"
src="https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>

<style>
.panel {
    display: flex;
    position: relative;
    background: #fff;
    width: 250px;
    padding: 0 35px;
    text-align: center;
    @include border-radius(4px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.chart {
    display: inline-block;
    width: 180;
    margin: 20px auto 5px;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

.percentage,
.label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 100;
}

.percentage {
    font-size: 60px;
}

.percentage sup {
    top: -11px;
    margin-left: 1px;
    font-size: 14px;
    position: relative;
}

.percentage span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    word-spacing: 5px;
}

.meta {
    margin: auto;
    max-width: 280px;
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    text-align: center;
}

p {
    margin: 0;
    padding: 20px;
    color: lighten(#a1a7a6, 15%);
}
</style>
<main>
<div class="progress" style="height: 10px; border-radius:0;">
    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<div class="container">
    <div class="row py-4 text-center">
        <h1>자가 진단 결과
        </h1>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <div class="card mx-3 px-5 my-1 text-center">
                <img src="./img/info-icon.png" alt="" style="position: absolute; left: 50%;
                transform: translate(-50%, -50%); top: -5px; height: 100px;">
                <div class="chart">
                    <br>
                    <h4>Information</h4>
                    <div class="percentage" data-percent="70">
                        <span></span>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <div class="card mx-3 px-5 mt-1 text-center">
                <img src="./img/enviro-icon.png" alt="" style="position: absolute; left: 50%;
                transform: translate(-50%, -50%); top: -10px; height: 90px;">
                <div class="chart">
                    <br>
                    <h4>Environment
                    </h4>
                    <div class="percentage" data-percent="60">
                        <span></span>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <div class="card mx-3 px-5 mt-1 text-center">
                <img src="./img/social-icon.png" alt="" style="position: absolute; left: 50%;
                transform: translate(-50%, -50%); top: -5px; height: 90px;">
                <div class="chart">
                    <br>
                    <h4>Social
                    </h4>
                    <div class="percentage" data-percent="90">
                        <span></span>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <div class="card mx-3 px-5 mt-1 text-center">
                <img src="./img/gov-icon.png" alt="" style="position: absolute; left: 50%;
                transform: translate(-50%, -50%); top: -5px; height: 90px;">
                <div class="chart">
                    <br>
                    <h4>Governance
                    </h4>
                    <div class="percentage" data-percent="80">
                        <span></span>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->


        <section class="container contactsection">
            <div class="row col-lg-8 mx-auto my-1">
                <div class="col-lg-7 mx-auto my-auto px-2 py-4 text-center">
                    <h2>한국형 ESG 자가진단
                    </h2>
                    <span class="text-muted">ESG 자가진단을 통해 기업의 긍정적인 변화를 경험해보세요.
                        <br>
                        당신의 비즈니스가 지속가능한 성장을 이룰 수 있도록 돕겠습니다.

                    </span>
                </div>
                <div class="col-lg-5 report-fig img-fluid">
                </div>
            </div><!--end Row-->
        </section>
    </div>
    <div class="col-lg-7 mx-auto my-auto py-3 mx-5 px-2 text-center">
        <h2>전문가와 상담을 해보세요
        </h2>
    </div>
    <div class="col-lg-6 mx-auto px-5 mb-5 text-center">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/homepage">ESG 문의
        </a>
    </div>
</div>





</main>

<script>
    /**
     * Built with the jQuery plugin that was born as a result of the great dribble shot
     * https://rendro.github.io/easy-pie-chart/
     **/


    $('.percentage').easyPieChart({
        animate: 1000,
        lineWidth: 20,
        scaleColor: false,
        size: 180,
        onStep: function (value) {
            this.$el.find('span').text(Math.round(value));
        },
        onStop: function (value, to) {
            this.$el.find('span').text(Math.round(to));
        },
        barColor: color
    });







    function color(percent) {
        var color = '#F44336';

        return (percent < 60 ? '#16a64d' : percent < 70 ? '#642f92' : percent < 80 ? '#e97034' : '#0367b4');


        /*
        var color = '#F44336';
        if (percent > 50) {
            color = '#8bc34a'; //green
        } else {
            color = '#F44336'; //red
        }
        return color;
        */
    }

</script>
