
<br>
<div id="progress">
    <div class="part on">
        <div class="desc"><span>기본정보</span></div>
        <div class="circle"><span>R</span></div>
        <div class="stepnumb"><span>1/1</span></div>
    </div>
    <div class="part on">
        <div class="desc"><span>정보공시</span></div>
        <div class="circle"><span>P</span></div>
        <div class="stepnumb"><span>4/4</span></div>
    </div>
    <div class="part on">
        <div class="desc"><span>환경</span></div>
        <div class="circle"><span>E</span></div>
        <div class="stepnumb"><span>1/9</span></div>
    </div>
    <div class="part">
        <div class="desc"><span>사회</span></div>
        <div class="circle"><span>S</span></div>
        <div class="stepnumb"><span>0/9</span></div>
    </div>
    <div class="part">
        <div class="desc"><span>지배구조</span></div>
        <div class="circle"><span>G</span></div>
        <div class="stepnumb"><span>0/5</span></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto  mb-3 py-5 mx-5 px-5">
            <div class="titlesection text-center">
                <h1 class="display-5 fw-bold lh-1 mb-3">환경경영 추진체계</h1>
            </div>
            <br>

            <form class="needs-validation" novalidate="">
                <div class="row g-3">
                    <div class="my-3">
                        <div class="form-check">
                            <input id="option1" name="paymentMethod" type="radio" class="form-check-input"
                                required="">
                            <label class="form-check-label" for="option1">
                                "환경경영 추진을 위한 전사 거버넌스 체계를 구축하고 있는 경우 (전담조직, 실무협의회, 경영회의 및 내부점검체계 등)"
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input id="option2" name="paymentMethod" type="radio" class="form-check-input"
                                required="">
                            <label class="form-check-label" for="option2">
                                "환경경영 추진을 위한 전사 전담조직을 운영하고 있는 경우 (전사 환경경영 기획, 점검, 성과관리 등 실행업무 담당)"
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input id="option3" name="paymentMethod" type="radio" class="form-check-input"
                                required="">
                            <label class="form-check-label" for="option3">
                                "환경경영 과제 실행에 필요한 자원을 투입하고 있는 경우 (환경투자 예산, 역량강화 교육, 내외부 전문인력 등)"
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input id="option4" name="paymentMethod" type="radio" class="form-check-input"
                                required="">
                            <label class="form-check-label" for="option4">
                                "환경경영 추진 현황을 점검/분석/평가하는 시스템이 있는 경우 (IT기반 모니터링 시스템, 과제점검 회의, 제3자 의견수렴 등)"
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input id="option5" name="paymentMethod" type="radio" class="form-check-input"
                                required="">
                            <label class="form-check-label" for="option5">
                                "환경경영 과제 이행현황이 경영진 포함 관련 구성원의 성과평가지표(KPls)에 반영되어 있는 경우 "
                            </label>
                        </div>
                    </div>



                </div>
                <br>
                <br>

                <div class="mb-5">
                    <a type="button" class="btn btn-lg btn-light" href="/questions/info"><i class="fa fa-chevron-left"
                        aria-hidden="true"></i> 뒤로</a>    
                    <a class="btn btn-primary btn-lg px-4 me-sm-3 float-end" href="/questions/social">다음</a>
                </div>



                <!--
                <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            -->
            </form>
        </div>
    </div>

</div>